@import '../../scss/colors';

.inputBasics {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  height: 2.5rem;
  border: 0.0625rem solid $grey40;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: $grey80;
  background-color: $grey0;
  padding: 0.625rem;
  box-sizing: border-box;
  outline: none;

  &:hover,
  &:focus {
    border-color: $mermaid;
  }
}
