@mixin xs-mobile {
  @media (min-width: 375px) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin large-desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin hide-below-tablet {
  display: none;

  @include tablet {
    display: block;
  }
}

@mixin hide-below-desktop {
  display: none;

  @include desktop {
    display: block;
  }
}
